@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-serif: 'Nanum Gothic', sans-serif;

	--font-16: 1.6rem;
	--font-18: 1.8rem;
	--font-24: 2.4rem;
	--font-32: 3.2rem;
	--font-80: 8rem;

	--spacing-4: 0.4rem;
	--spacing-8: 0.5rem;
	--spacing-16: 1.6rem;
	--spacing-20: 2rem;
	--spacing-24: 2.4rem;
	--spacing-32: 3.2rem;

	/* --color-brand: hsl(204 88% 53%); */
	--color-text-highlight: #000000;
	--color-text-primary: #f5f5f5;
	--color-text-muted: #c9c9d1;
	--color-bg-primary: #282830;
	--color-bg-secondary: #3c3d47;
	--color-btn-highlight: #2eff9e;
	--color-btn-primary-active: #51525e;
	/* --color-btn-primary-active-hover: hsl(204 88% 60%); */
	--color-btn-primary-inactive: #7e7f8c;
	/* --color-btn-secondary: var(--color-bg-secondary); */
	--color-border-primary: var(--color-btn-primary-active);
	/* --color-link-hover: hsl(209 22% 19%); */
	/* --color-placeholder: hsl(210 34% 80%); */

	--radius-base: 2.4rem;
	--radius-btn: 1.2rem;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

body {
	font-family: var(--font-serif);
	font-size: var(--font-18);
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);
}

/* a {
	text-decoration: none;
	color: var(--color-text-primary);
} */

/* label {
	display: block;
	margin: var(--spacing-8) 0;
	font-size: var(--font-24);
	color: var(--color-text-muted);
} */

/* input {
	padding: var(--spacing-16);
	font-size: var(--font-24);
	border-radius: var(--radius-base);
	border: none;
} */

.btn-highlight {
	padding: var(--spacing-16) var(--spacing-32);
	font-size: var(--font-18);
	font-weight: bold;
	color: var(--color-text-highlight);
	background-color: var(--color-btn-highlight);
	border-radius: var(--radius-btn);
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--color-btn-primary-active-hover);
}

.btn:disabled {
	color: var(--color-text-muted);
	background-color: var(--color-btn-primary-inactive);
	cursor: not-allowed;
}

/* ul,
ol {
	list-style: none;
} */

/* Utils */

/* .responsive {
	resize: both;
	overflow: scroll;
	border: 1px solid hsl(0 0% 0%);
} */

/* .placeholder {
	padding: var(--spacing-20) 0;
	background-color: var(--color-placeholder);
	border-radius: var(--radius-base);
} */
